@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,800;1,900&display=swap');
$bgcolor: whitesmoke;
$navh: 100px;
$bgh: 80vh;
$hovercolor: tomato;


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    nav{ 

        height: $navh;
        background-color: $bgcolor;
        display: flex;
        justify-content: space-around;
        align-items: center;  
        box-shadow: 5px 5px 5px gray;      

        flex-direction: row;
        // flex-wrap: wrap;

        // first child
        .first{
            
            img{
                box-shadow: 3px 3px 3px grey;

                &:hover{
                    box-shadow: 3px 3px 3px red;
                }
            }               
        }

        // second child
        .second{
            a{
                text-decoration: none;
                margin-right: 20px;

                &:hover{
                    text-decoration: underline;
                    color: $hovercolor;
                }
            }
        }

        // third child
        .third{
            a{
                i{
                    font-size: 30px;
                    margin-right: 20px;

                    &:hover{
                        color: $hovercolor;
                       
                    }
                   
                }
            }
            
        }
    }
}